@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}


 /* Navigation Bar */

nav {
    height: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1000px; */
    /* margin: 0 auto; */
    margin-top: 0em;
    margin-bottom: 0em;
    /* padding: 0px 32px; */
    display: flex;
    background: transparent;
}

ul {
    list-style-type: none;
}

.personal__logo {
    font-weight: 700;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 400;
}

/* Hero Landing */

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    top: 0;
    left:  0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: green;
}

.hero__text {
    font-weight: 700;
    margin-bottom:  0;
}

