@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}


 /* Navigation Bar */

nav {
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.nav__link--list {
    display: flex;
}

